<?xml version="1.0"?>
<robot name="testurdf" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

        <!--Wheel infos-->
        <leftJoint>wheel_left_joint</leftJoint>
        <rightJoint>wheel_right_joint</rightJoint>
        <wheel_separation>0.8</wheel_separation>
        <wheel_diameter>0.36</wheel_diameter>

        <!--Limits-->
        <max_wheel_torque>200</max_wheel_torque>
        <max_wheel_acceleration>10</max_wheel_acceleration>

        <!--Output-->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>


        </plugin>
    </gazebo>

</robot>