<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="brokk_arm_gazebo" params="prefix">

    <gazebo reference="${prefix}brokk_base">
                <material>Gazebo/White</material>
                <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>
    <gazebo reference="${prefix}brokk_body1">
                <material>Gazebo/White</material>
                <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>
    <gazebo reference="${prefix}brokk_body2">
                <material>Gazebo/White</material>
                <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>
    <gazebo reference="${prefix}brokk_body3">
                <material>Gazebo/White</material>
                 <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>
    <gazebo reference="${prefix}brokk_body4">
                <material>Gazebo/White</material>
                <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>
    <gazebo reference="${prefix}brokk_tip">
                <material>Gazebo/White</material>
                <mu1>0.1</mu1>
                <mu2>0.1</mu2>

    </gazebo>


  </xacro:macro>

</robot>
