<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="brokk" >

  <!-- common stuff 
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />
  -->
  <!-- ur5e -->
  <xacro:include filename="$(find brokk_arm_description)/urdf/brokk_arm.urdf.xacro" />
  
  <!-- arm -->
  <xacro:brokk_arm prefix="" joint_limited="true"
    brokk_base_lower_limit:="${-pi}"     brokk_base_upper_limit:="${pi}"
    brokk_body1_lower_limit:="${-pi}"    brokk_body1_upper_limit:="${pi}"
    brokk_body2_lower_limit:="${-pi}"    brokk_body2_upper_limit:="${pi}"
    brokk_body3_lower_limit:="${-pi}"    brokk_body3_upper_limit:="${pi}"
    brokk_body4_lower_limit:="${-pi}"    brokk_body4_upper_limit:="${pi}"/>  

  <link name="world" />


</robot>
